<div>

  <p>
    invoice-list works!
  </p>

  <h1> Rechnungsübersicht </h1>
  <p>Datum. </p>

  <div>

    <table style="width:100%">#
      <tr>
        <th>RechnungsNr</th>
        <th>Datum</th>
        <th>Status (Entwurf, Bezahlt, ...)</th>
        <th>Gesamtpreis</th>
        <th>Anzahl versendete Mahnungen</th>
        <th>Ändern</th>
      </tr>
      <tr>
        <td>R2018M07abcxyz</td>
        <td>01.07.2018</td>
        <td>Entwurf</td>
        <td>530€</td>
        <td>000</td>
        <td><button type="button">Rechnung bearbeiten</button></td>
      </tr>
      <tr>
        <td>R2018M11qwertz</td>
        <td>11.11.2018</td>
        <td>offen</td>
        <td>444€</td>
        <td>002</td>
        <td><button type="button">Rechnung bearbeiten</button></td>
      </tr>
      <tr>
        <td>R2018M11qwertz</td>
        <td>03.09.2018</td>
        <td>bezahlt</td>
        <td>537€</td>
        <td>000</td>
        <td><button type="button">Rechnung bearbeiten</button></td>
      </tr>

    </table>

  </div>

</div>