<div>

    <p>
      invoice-detail works!
    </p>
    <h1> Rechnung, Nummer </h1>
    <p>Datum. </p>

  <div>

      <table style="width:100%">#
        <tr>
            <th>Postenbezeichnung</th>
            <th>Leistungsposten Ja / Nein</th>
            <th>Stückpreis</th>
            <th>Anzahl</th>
            <th>Gesamtpreis</th>
            <th>Ändern</th>
        </tr>
        <tr>
            <td>Posten001:</td>
            <td>Nein</td>
            <td>150€</td>
            <td>3</td>
            <td>450€</td>
            <td><button type="button">Posten bearbeiten</button></td>
        </tr>
        <tr>
            <td>Posten002:</td>
            <td>Ja</td>
            <td>25€/Stunde</td>
            <td>35Stunden40Minuten</td>
            <td>891,67€</td>
            <td><button type="button">Posten bearbeiten</button></td>
        </tr>#
        <tr>
            <td>Posten003:</td>
            <td>Nein</td>
            <td>70€</td>
            <td>5</td>
            <td>350€</td>
            <td><button type="button">Posten bearbeiten</button></td>
        </tr>
      </table>
  </div>

    <button type="button">Posten hinzufuegen</button>
    <button>Speichern</button>
    <button>Zurück</button>


</div>
