<div>


  <h1> Rechnung, Nummer </h1>
  <p>Rechnungsdatum. </p>
  <p>Fälligkeitsdatum. </p>
  <p>SEPA-Mandatsreferenz</p>
  <h2> Kunde: BspFirma </h2>
  <table>

    <tr>
      <td>Rechnungsadresse:</td>
      <td>exampleStraße 07, 12345 Musterstadt</td>
    </tr>
    <tr>
      <td>USt.ID.Nrn.:</td>
      <td>345trd</td>
    </tr>
    <tr>
      <button type="button">Kundendaten ändern</button>
    </tr>

  </table>
  <h2> Empfänger: SednaSoft </h2>
  <table>
    <!-- tr -->
    <tr>
      <td>Anschrift</td>
      <td>Biesnitzer Straße 8, 02826 Görlitz</td>
    </tr>
    <tr>
      <td>USt.ID.Nrn.:</td>
      <td>Sedna777</td>
    </tr>
    <tr>
      <td>Bank:</td>
      <td>Musterbank</td>
    </tr>
    <tr>
      <td>KontoNr:</td>
      <td>67890</td>
    </tr>
    <tr>
      <td>Bankleitzahl:</td>
      <td>333444</td>
    </tr>
    <tr>
      <td>IBAN:</td>
      <td>IB874</td>
    </tr>
    <tr>
      <td>BIC:</td>
      <td>13749</td>
    </tr>
    <tr>
      <td>Verwendungszweck (bitte unbedingt angeben:</td>
      <td> 67890</td>
    </tr>
    <tr>
      <button type="button">Daten Leistungserbringer ändern</button>
    </tr>
    <!--/tr -->
  </table>

  <div>

    <table style="width:100%">
      <tbody>
      <tr>
        <th>Leistungsbeschreibung</th>
        <th>Leistungsposten Ja / Nein</th>
        <th>Stückpreis</th>
        <th>Anzahl</th>
        <th>Gesamtpreis</th>
        <th>Leistungsdatum</th>
        <th>Ändern</th>
      </tr>
      <tr>
        <td>Posten001:</td>
        <td>Nein</td>
        <td>150€</td>
        <td>3</td>
        <td>450€</td>
        <td>01.01.2001</td>
        <td>
          <button type="button">Posten bearbeiten</button>
        </td>
      </tr>
      <tr>
        <td>Posten002:</td>
        <td>Ja</td>
        <td>25€/Stunde</td>
        <td>35Stunden40Minuten</td>
        <td>891,67€</td>
        <td>02.02.2002</td>
        <td>
          <button type="button">Posten bearbeiten</button>
        </td>
      </tr>
      <tr>
        <td>Posten003:</td>
        <td>Nein</td>
        <td>70€</td>
        <td>5</td>
        <td>350€</td>
        <td>03.03.2003</td>
        <td>
          <button type="button">Posten bearbeiten</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <button type="button">Posten hinzufuegen</button>
  <button>Speichern</button>
  <button>Zurück</button>


</div>
